ul.ProviderList {
  margin: 1.2rem 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.6rem;
  height: 31rem;
  width: 100%;
  overflow: auto;
}

ul.ProviderList li {
  width: calc(100% - 1.4rem - 0.4rem);
  height: 3.8rem;
  text-align: left;
  padding: 0.7rem;
  border-radius: 8px;
  border: solid 2px #dedede;
  display: flex;
  background-size: 6.4rem 4rem;
  background-position: right 7px bottom 5px;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

ul.ProviderList li:hover,
ul.ProviderList li:active{
  border: solid 2px var(--green-light);
}

ul.ProviderList li.mtn {
  background-image: url('@base/assets/mtn.png');
}

ul.ProviderList li.moov {
  background-image: url('@base/assets/moov.png');
}

ul.ProviderList li.orange {
  background-image: url('@base/assets/orange.png');
}

ul.ProviderList li.celpaid {
  background-image: url('@base/assets/celpaid.png');
}

ul.ProviderList li.wave {
  background-image: url('@base/assets/wave.png');
}

ul.ProviderList li.wizal {
  background-image: url('@base/assets/wizal.png');
}

ul.ProviderList li.yup {
  background-image: url('@base/assets/yup.png');
}

ul.ProviderList li a{
  text-decoration: none;
  color: var(--gs-10);
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}