h1.banner {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 29.8rem;
  margin: 2.7rem 0 0;
  padding: 0;
}

h1.banner span{
  width: 17.8rem;
  height: 2.2rem;
  margin: 0.4rem 5.8rem 0.4rem 1rem;
  color: var(--gs-40);
}

.Oval {
  width: 2.8rem;
  height: 2.6rem;
  padding-top: 0.2rem;
  background-color: #000;
  border-radius: 2.8rem;
  text-align: center;
  color: #fff;
}