.App {
  text-align: center;
  height: 100%;
  display: flex;
}

.App-header {
  background-color: #ffffff;
  width: 240px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 23, 23);
  margin: auto;
}

.App-header h1 {
  width: 22rem;
  margin: 2.6rem 1rem 2.2rem;
  font-family: OpenSans;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--7-000000);
}

.App-header h2 {
  width: 22rem;
  height: 1.7rem;
  font-family: OpenSans;
  font-size: 1.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--gs-20);
}

.Price{
  width: 22rem;
  height: 3.3rem;
  font-family: OpenSans;
  font-size: 2.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--green-dark);
}

.PriceTo {
  width: 22rem;
  height: 1.7rem;
  margin: 1.5rem 1rem 1.4rem;
  font-family: OpenSans;
  font-size: 1.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--gs-20);
}

.TillID {
  width: 6.3rem;
  height: 2.3rem;
  margin: 0  0.1rem 0.8rem;
  padding-left: 2rem;
  font-family: OpenSans;
  font-size: 1.7rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--gs-60);
  background: url('./action-places-store@3x.png') no-repeat;
  background-position: 0 0.3rem;
  background-size: 2rem;
}

button {
  width: 22rem;
  height: 3.6rem;
  margin: 4.8rem 1rem 0;
  padding: 0.8rem 1rem 0.9rem;
  border: 18px var(--green-primary);
  border-radius: 18px;
  background-color: var(--green-primary);
  color: #fff;
  font-family: OpenSans;
  font-size: 1.4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

button:active {
  background-color: var(--green-light);
}

.App-link {
  color: #61dafb;
}
