html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  outline: none;
  overflow: hidden;
  font-family: "Open Sans";
  background-color: var(--color-gs00);
  color: var(--color-gs100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

:root {
  --gs-100: #fff;
  --gs-80: #b2b2c2;
  --gs-20: #808091;
  --gs-40: #515161;
  --gs-60: #272730;
  --gs-10: #1e1e26;
  --7-000000: #000;
  --purple-light: #b366ff;
  --purple-primary: #8000ff;
  --purple-dark: #5900b3;
  --blue-light: #66b3ff;
  --blue-primary: #0073e6;
  --blue-dark: #004d99;
  --green-light: #57d998;
  --green-primary: #00ae57;
  --green-dark: #007339;
  --orange-light: #fd6d43;
  --orange-primary: #ff4f1a;
  --orange-dark: #a72600;
  --pink-light: #ff66a6;
  --pink-primary: #e60060;
  --pink-dark: #990040;
  --red: #d90036;
  --gs-100: #fff;
}